.description {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.description h2 {
  font-size: 40px;
}

.description p {
  font-size: 20px;
}
